body {
  margin: 0px;
  background-color: whitesmoke;
}
h1, h2, p{
  font-family: 'Ubuntu', sans-serif;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
figcaption {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: .3s;
  opacity: 0;
}
figcaption p {
  color: white;
  margin-top: 50px;
}
figure:hover figcaption {
  opacity: 1;
  cursor: pointer;
}
.tiles {
  position: relative;
  top: 50px;
  margin: 20px;
}
.tile {
  margin: 20px;
  background-color: white;
}
@media (min-width: 1021px) {
  .tile{ 
    width: calc(100% /3 - 40px);
  }
}
@media only screen and (max-device-width: 1020px) and (min-device-width: 768px) {
  .tile {
    width: calc(100% /2 - 40px);
  }
}
@media only screen and (max-device-width: 767px) {
  .tile{ 
    width: calc(100% -40px);
  }
}

.tile-text {
  margin: 15px;
}
textarea, input {
  resize: none;
  font-size: 18px;
  border: none;
  background-color: transparent;
}
#header textarea:hover, input:hover {
  background-color: rgba(0, 0, 0, .2);
}
.tile-text textarea:hover {
  border: 1px solid lightgray;
}
.tile-text .description {
  color: lightgray;
  width: 100%;
}
#header {
  top: 50px;
  height: 300px;
  position: relative;
}
#title {
  text-align: center;
  width: 80%;
  margin: 20px;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
#header .description {
  text-align: center;
  color: white;
  width: 80%;
}
#header figure {
  position: relative;
  top: 0px;
  height: 300px;
  z-index: 0;
}
#header-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 10px;
  text-align: center;
  color: white;
}

/* header */
header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #333;
  margin: 0px;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: lightgray;
}
header h1 {
  position: absolute;
  height: 100%;
  top: 0.5em;
  bottom: 0;
  left: 100px;
  margin: auto;
}
header i {
  position: absolute;
  top: 0.25em;
  bottom: 0;
  right: 150px;
}

/* footer */
footer {
  width: 90%;
  height: 50px;
  margin: 200px auto auto;
  border-top: 1px solid lightgray;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  color: gray;
}
footer li {
  display: inline-block;
  margin-left: 20px;
}
footer a {
  color: gray;
  text-decoration: none;
}
footer a:hover {
  color: black;
}